# ===== Miscellaneous =====
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/
migrate_working_dir/

# ===== IDE files =====
*.iml
*.ipr
*.iws
.idea/
.vscode/

# ===== Android Studio build folders =====
.gradle/
build/
**/build/
local.properties

# ===== Kotlin / Java temporary files =====
*.hprof
*.jar
*.war
*.ear
*.apk
*.ap_
*.dex

# ===== Flutter/Dart folders =====
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
/coverage/

# ===== Android app-specific build artifacts =====
/android/app/debug
/android/app/profile
/android/app/release

# ===== Symbolication / Obfuscation =====
app.*.symbols
app.*.map.json